body{
	margin: 0;
	padding: 0;
}
#menu{
	background-color: #000;
	height: 100px;
	display: flex;
	flex-flow: space-between;
	align-items: center;
	color: #eee;
	font-family: 'Roboto';
	font-size: 25px;
}
#left-menu{
	order: 1;
	flex-grow: 3;
	display: flex;
	
}

.left-menu-item{
	margin: 0 20px;
	cursor: pointer;
}

#logo{
	order: 1;
	flex-grow: 1;
	font-size: 20px;
	margin: 0 20px;
}
#right-menu{
	order: 2;
	flex-grow: 3;
	display: flex;
	direction: rtl;
	font-family: 'Dandelion';
	font-weight: bold;
	
}
.right-menu-item{
	cursor: pointer;
	padding: 10px;
	margin: 10px;

}
.right-menu-item:hover{
	color: #eee;
}
.background{
    height: 700px;
    z-index: 1;
    background-image: url('media/backgrounds/HP_01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
}
#main{
	height: 700px;
}

#searchBox{
    padding-top: 300px;
    display: flex;
    justify-content: center;
    opacity: 1;
    z-index: 2;
    position: relative;
}
.searchBox-text{
	order: 1;
	width: 600px;
	height: 60px;
	background-color: #fff;
	border: 1px solid #6994AE;
	font-family: 'Anjelika';
	font-size: 30px;
	padding: 10px;
}
.serachIcon{
	background-image: url("media\\search.png");
    width: 60px;
    height: 60px;
    background-size: contain;
    border: 1px solid #6994AE;
    order: 2;
    cursor: pointer;
}
#footer{
	background-color:#fff;
	height: 300px;
}



/*gallery*/
#gallery{
	background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.galleryDescription{
	color: #000;
	font-family: "Dandelion";
	font-size: 50px;
	text-align: center;
}
.gallery-item-container{
	width: 300px;
    margin: 20px;
}
.gallry-items{
display: flex;
flex-wrap: wrap;
}
.gallery-item-container .details{
	visibility: hidden;
	position: absolute;
    top: 50px;
}
}
.gallery-item-container:hover .details{
	visibility: visible;
}

.gallery-item-container .badge{
	z-index: 2;
}
.gallery-item-container .badge.logo{
    position: absolute;
    background-color: #eee;
    opacity: 0.8;
    border-radius: 2px;
}
.gallery-item-container .card .card-reveal{
	z-index: 3;
}


/*materialize override*/
footer.page-footer{
	background-color: #000;

}

/*fonts*/
@font-face{
	font-family: "Dandelion";
	src :url("font\\Dandelion in the Spring.ttf");
}

@font-face{
	font-family: "Anjelika";
	src :url("font\\Anjelika Rose.ttf");
}
@font-face{
	font-family: "Roboto";
	src :url("font\\Roboto-Regular.ttf");
}
