<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:annotation-config/>

    <bean class="org.t2k.interactions.dal.DB" init-method="init"/>
    <bean name="interactionsConfig" class="org.t2k.interactions.utils.InteractionsConfig" init-method="init"/>
    <bean name="jsonWrapper" class="org.t2k.interactions.utils.jsonUtils.JsonWrapper">
        <constructor-arg ref="interactionsConfig"/>
    </bean>
    <bean name="bucketProperties" class="org.t2k.interactions.dal.CouchbaseBucketProperties"/>

    <bean name="loggingFormatter" class="org.t2k.interactions.models.logs.LoggingFormatter" />
    <bean name="loggingService" class="org.t2k.interactions.services.logs.LoggingServiceImpl" />

    <bean name="fileService" class="org.t2k.interactions.services.files.FileServiceImpl" init-method="init"/>
    <bean name="taskService" class="org.t2k.interactions.services.tasks.TaskServiceImpl"/>
</beans>